.blog-item__img{
  height: 250px;
  margin-bottom: 30px;
  @extend .bgimg;
}
.blog-list__item{
  display: flex;
  margin-bottom: 30px;
}
.blog-list__img{
  width: 200px;
  padding-right: 15px;
}
.blog-list__img-wr{
  overflow: hidden;
  img{
    transition: all .5s;
    &:hover{
      transform: scale(1.1);
    }
  }
}
.blog-list__txt{
  flex: 1;
}
.blog-item__date,
.bankex-time,
.mod-forex__date,
.blog-list__date{
  margin-bottom: 10px;
  color: $scooter;
  font-size: 14px;
}
@media screen and (max-width: 767px){
  .blog-list__item{
    flex-wrap: wrap;
  }
  .blog-list__img{
    width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 15px;
  }
}