<div class="blog-item" *ngIf="itemBlog">
    <h1>{{itemBlog.title}}</h1>
    <div class="blog-item__img" [ngStyle]="{'background-image': 'url(' + itemBlog.img + ')'}"></div>
    <div class="blog-item__date">{{itemBlog.date | date:"dd/MM/yyyy"}}</div>
    <div [innerHtml]="itemBlog.fulltext"></div>
</div>

