<div class="globwrap">
    <app-header></app-header>
    <main>
        <div class="wrap">
            <div class="p-grid">
                <div class="p-lg-9">
                    <router-outlet></router-outlet>
                </div>
                <div class="p-lg-3">
                    <div class="sidebar">
                        <app-forexrates></app-forexrates>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<app-footer></app-footer>

