<nav class="top-menu" [ngClass]="{'showMenu': showMenu}">
  <div class="top-menu__mob-button" (click)="openMenu()">
    <span></span>
  </div>
  <ul>
    <li routerLinkActive="active" class="top-menu_item" *ngFor="let item of menuItems">
      <a (click)="closeMenu()" routerLink="{{item.url}}">{{item.title}}</a>
    </li>
  </ul>
</nav>