.glyphicon{
  @extend .fa;
}
.glyphicon-eye-open{
  @extend .fa-eye;
}
.glyphicon-pencil{
  @extend .fa-pencil;
}
.glyphicon-trash{
  @extend .fa-times;
}
.fm-wr{
  div{
    height: 500px;
  }
}
.nav-link.logout{
  background: transparent;
  border: none;
}

.help-block{
  color: red;
}