<div class="mod-forex">
  <h3>Курс Доллара США на Forex</h3>
  <ul>
    <li class="mod-forex__item mod-forex_m_flag_{{rate.code}}" *ngFor="let rate of rates">
      <span class="mod-forex__code">{{rate.code | slice:3:6}}</span> <span>{{rate.rate}}</span>
    </li>
  </ul>
  <div class="mod-forex__date">{{date | date:"dd/MM/yyyy - HH:mm"}}</div>
</div>
